<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper blue">
      <a routerLink="/" class="brand-logo" id="logo-container">ngRails</a>

      <ul class="right hide-on-med-and-down">
        <!-- Listening to our userSignedIn$ Subject -->
        <!-- Angular's async pipe listens for changes -->
        <!-- If the user isn't signed in, display login and register links -->
        <li *ngIf="!(authService.userSignedIn$ | async)">
          <a (click)="presentAuthDialog()">LOGIN</a>
        </li>
        <li *ngIf="!(authService.userSignedIn$ | async)">
          <a (click)="presentAuthDialog('register')">REGISTER</a>
        </li>

        <!-- If the user IS signed in, display profile and logout links -->
        <li *ngIf="(authService.userSignedIn$ | async)">
          <a routerLink="/profile">PROFILE</a>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async)">
          <a (click)="logOut()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<app-auth-dialog #authDialog></app-auth-dialog>