<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper blue">
      <a routerLink="/" class="brand-logo" id="logo-container">ngRails</a>

      <ul class="right">
        <!-- If the user isn't signed in, display login and register links -->
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog()">LOGIN</a>
        </li>
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog('register')">REGISTER</a>
        </li>

        <!-- If the user IS signed in, display profile and logout links -->
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a>PROFILE</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a (click)="tokenAuthService.signOut()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<app-auth-dialog #authDialog></app-auth-dialog>